#frontpage_splash {
  @media( min-width: $main_menu-mobile_menu_cutoff ){
    background:image-url('flying-computer.png');
    background-repeat:no-repeat;
    background-position: center center;
    min-height: 375px;
  }
}

#frontpage_splash #left_column {
  @include grid-column(12);
  @media( min-width: $main_menu-mobile_menu_cutoff ){
    @include grid-column(6);
    margin-top:66px;
  }
}

#right_column {
  @include grid-column(12);
  @media( min-width: $main_menu-mobile_menu_cutoff ){
    @include grid-column(6);
    @extend .right;
    margin-top: 30px;
  }
}


#frontpage_splash h1 {
font-size:39px;
color:#222;
font-weight:400;
line-height: 1em;
margin:0 0 20px;
}

#frontpage_splash h1 strong {
font-size:54px;
color:#222;
font-weight:400;
}

#frontpage_splash h1 span {
font-family:Georgia;
font-style:italic;
font-weight:400;
font-size:25px;
color:#444;
}

#frontpage_splash h2 {
font-size:26px;
font-weight:400;
color:#222;
margin-bottom:10px;
line-height:28px;
}

#frontpage_splash h2 strong {
font-size:31px;
color:#222;
}

#frontpage_splash h2 span {
color:#333;
font-style:italic;
font-size:19px;
font-family:Georgia;
}

#frontpage_splash #right_column {
width:265px;
}

#frontpage_splash #right_column input[type=text] {
width:180px;
}

#frontpage_splash #frontpage_search_box {
margin-bottom:30px;
margin-top:-10px;
}

#frontpage_splash #frontpage_right_to_know p {
line-height:20px;
}



